/*Global reset af layout*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

/*Her styler jeg min navigations-bar*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;

}
#headerbillede{
    width: 150px;
    height: auto;
}

.navbar a {
    text-decoration: none;
    color: #14140d;
    font-weight: bold;
}

.navbar a:hover {
    color: #a52a2a;
}

.galleri {
    display: flex;
    height: auto;
    max-width: 100%;
    gap: 10px;
}


.galleri img{
    justify-content: space-between; /* Tilføj mellemrum mellem billederne */
    width: 625px;
    padding: 20px;
    transition: opacity 0.3s ease;
}

.galleri img:hover {
    opacity: 0.5;
}


/*FOOTEREN STYLES HER*/

footer {
    color: #14140d;
    padding: 30px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-info {
    text-align: left;
    max-width: 600px;  /* Limit the width for better readability */
}

.contact-info span {
    display: block;
    margin: 5px 0;
}

.contact-info a {
    color: #14140d;
    text-decoration: none;
}

.some a {
    margin: 0 10px;
    display: inline-block;
}

.some img {
    width: 30px;
    height: 30px;
    opacity: 0.8;
}
