/*Global reset af layout*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

/*Her styler jeg min navigations-bar*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;

}
#headerbillede{
    width: 150px;
    height: auto;
}

.navbar a {
    text-decoration: none;
    color: #14140d;
    font-weight: bold;
}

.navbar a:hover {
    color: #a52a2a;
}

.galleri {
    display: flex;
    height: auto;
    max-width: 100%;
    gap: 10px;
}


.galleri img{
    justify-content: space-between; /* Tilføj mellemrum mellem billederne */
    width: 670px;
    padding: 10px;
    transition: opacity 0.3s ease;
}

.galleri img:hover {
    opacity: 0.5;
}

.footer{
    position: fixed;
}
.footertekst{
font-weight: bold;

}
