/* Global styling */
*{
    margin: 0;
    padding: 0;
    background-color: var(--hvid);
    line-height: 1.6;
}
body, html{
margin: 5px;
}

.container {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;  /* Sætter bredden af formularen til 300px */
    margin-top: 20px;  /* Giver lidt afstand fra toppen af skærmen */
}

h1 {
    text-align: left;
    color: var(--sort);
    font-size: 18px;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

input, textarea {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

input[type="email"],
input[type="text"],
input[type="tel"],
textarea {
    width: 100%;
}

textarea {
    resize: vertical;
}

button.submit-btn {
    background-color: var(--rød);
    color: var(--hvid);
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

button.submit-btn:hover {
    background-color: #45a049;
}


/*BILAG til udarbejdelse af formular*/

/*https://www.w3schools.com/html/html_forms.asp*/


/*FOOTEREN STYLES HER*/
footer{
    color: var(--sort);
    padding: 30px;
    text-align: center;  
}

.footer-content {
    display: flex;
    justify-content: space-between; /* Placerer de to divs på hver sin side */
    align-items: center; /* Centrerer vertikalt */
    width: 100%;
}


.some {
    display: flex;
    justify-content: flex-end; /* Sørger for at indholdet i .some er højrejusteret */
    margin: 0 10px;
}


.contact-info span {
    display: flex;
    margin: 5px 0;
}

.contact-info a {
    color: #14140d;
    text-decoration: none;
}

.some a {
    margin: 0 10px;
}

.some img {
    width: 30px;
    height: 30px;
    opacity: 0.8;
}