body{
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Moderne sans-serif font */
    background-color: #f2f2f2;
    color: #14140d; 
    line-height: 1.6; /* Øger læsbarheden */
    margin: 0;
    padding: 0;

}
main img{
    display: flex;
    width: 800px;
    height: auto;
    opacity: 0.8;
}


.billedstyling {
    width: 100%;  /* Gør billedet så bredt som containeren */
    padding: 20px;
    height: auto;  /* Bevarer billedets proportioner */
}

#medlemskab{
        margin-bottom: 30px;
        background-color: #f2f2f2;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        
    }
    

/* Footer Styling */
footer {
    color: #14140d;
    padding: 30px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-info {
    text-align: left;
    max-width: 600px;  /* Limit the width for better readability */
}

.contact-info span {
    display: block;
    margin: 5px 0;
}

.contact-info a {
    color: #14140d;
    text-decoration: none;
}

.some a {
    margin: 0 10px;
    display: inline-block;
}

.some img {
    width: 30px;
    height: 30px;
    opacity: 0.8;
}

