body{
    background-color: var(--hvid);
    color: var(--sort);
    line-height: 1.6; /* Øger læsbarheden */
    margin: 0;
    padding: 0;

}
main img{
    opacity: 0.8;
}

.billedstyling {
    width: 100%;  /* Gør billedet så bredt som containeren */
    padding: 20px;
    height: auto;  /* Bevarer billedets proportioner */
}

#medlemskab{
text-align: center;
        margin-bottom: 30px;
        line-height: 1.6;
        background-color: var(--hvid);
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    }
    

/*FOOTEREN STYLES HER*/

footer {
    color: var(--sort);
    padding: 30px;
    text-align: center;
}


.footer-content {
    display: flex;
    justify-content: space-between; /* Placerer de to divs på hver sin side */
    align-items: center; /* Centrerer vertikalt */
    width: 100%;
}


.some {
    display: flex;
    justify-content: flex-end; /* Sørger for at indholdet i .some er højrejusteret */
    margin: 0 10px;
}


.contact-info span {
    display: flex;
    margin: 5px 0;
}

.contact-info a {
    color: #14140d;
    text-decoration: none;
}

.some a {
    margin: 0 10px;
}

.some img {
    width: 30px;
    height: 30px;
    opacity: 0.8;
}

