/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--hvid);
    color: #14140D;
    line-height: 1.6;
}

/* Header and Navbar */
header {
    background-color: var(--hvid);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.navbar a:hover {
    color: #ff6f61;
}

#headerbillede {
    width: 150px;
    margin-right: 20px;
}

/* Selve mainen(tekst) */
main {
    text-align: center;
    margin: 40px auto;
    max-width: 1200px;
}

h1 {
    font-size: 36px;
    color: #14140D;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* Billederne i bunden af tekst */
.mangebilleder {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.mangebilleder img {
    width: 200px;
    height: auto;
    transition: transform 0.3s;
}

.mangebilleder img:hover {
    transform: scale(1.1);
}

/* footeren styles */
footer {
    color: var(--sort);
    padding: 30px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-info {
    text-align: left;
    max-width: 600px;  /* Limit the width for better readability */
}

.contact-info span {
    display: block;
    margin: 5px 0;
}

.contact-info a {
    color: #14140d;
    text-decoration: none;
}

.some a {
    margin: 0 10px;
    display: inline-block;
}

.some img {
    width: 30px;
    height: 30px;
    opacity: 0.8;
}

