/* Reset af globalstyling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--hvid);
    color: #14140D;
    line-height: 1.6;
}


/* Nu styler jeg mit indhold til merchsiden igen*/
.containermerch {
    display: flex; 
    justify-content: space-between; /* Placer tekst og billeder med luft imellem */
    align-items: flex-start; /* Sørger for, at alt starter på linje */
    margin: 20px; /* Tilføjer luft omkring layoutet */
    min-height: 100vh;
}

.merchtekst {
    max-width: 40%; /* teksten får kun 40% for at gøre indholdet mere spiseligt */
    margin-right: 20px; /* Tilføj afstand mellem tekst og billeder */
    display: flex;
    flex-direction: column; /* Afsnittene bliver lodret */
    gap: 15px; /* Tilføj luft mellem afsnit */
}

.merchtekst p {
    line-height: 1.8; 
    text-align: justify; /* Gør teksten jævnt i begge sider */
}

.merchpics {
    display: flex; /* Læg billederne side om side */
    flex-direction: row; /* Placer billederne ved siden af hinanden i række */
    gap: 20px; /* Tilføj luft mellem billederne */
}

.merchpics img {
    width: 400px;
    height: auto;
}

/*FOOTEREN STYLES HER*/

footer {
    color: var(--sort);
    padding: 30px;
    text-align: center;
}


.footer-content {
    display: flex;
    justify-content: space-between; /* Placerer de to divs på hver sin side */
    align-items: center; /* Centrerer vertikalt */
    width: 100%;
}


.some {
    display: flex;
    justify-content: flex-end; /* Sørger for at indholdet i .some er højrejusteret */
    margin: 0 10px;
}


.contact-info span {
    display: flex;
    margin: 5px 0;
}

.contact-info a {
    color: #14140d;
    text-decoration: none;
}

.some a {
    margin: 0 10px;
}

.some img {
    width: 30px;
    height: 30px;
    opacity: 0.8;
}


@media (max-width: 768px) {
    .containermerch {
        flex-direction: column; /* Gør at tekst og billeder stackes vertikalt */
        align-items: center; 
    }

    .merchtekst {
        max-width: 100%; /* Gør teksten bredere på små skærme */
        margin-right: 0; /* Fjern højre margin */
        text-align: center; 
    }

    .merchpics {
        flex-direction: column; /* Billederne stackes vertikalt i stedet */
        align-items: center; /* Centrerer billederne */
    }

    .merchpics img {
        width: 100%; /* Gør billederne responsive og tager op til 100% af containerens bredde */
        max-width: 500px; /* Sætter en maks bredde */
    }

    footer {
        padding: 20px;
    }

    .footer-content {
        flex-direction: column; /* Centrerer indholdet i footeren */
        align-items: center;
    }

    .some {
        justify-content: center; /* Centrerer indholdet i .some */
        margin: 10px 0; /* Tilføjer lidt afstand i marginen */
    }

    .some img {
        width: 40px; 
        height: 40px;
    }
}
